@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Custom Autofill Styles to override browser defaults */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  /* "too darker now" -> switching to a medium "ash" gray */
  -webkit-box-shadow: 0 0 0 30px #CBD5E1 inset !important;
  /* Text color back to blue for contrast on gray */
  -webkit-text-fill-color: #1E293B !important;
  caret-color: #1E293B;
  border-color: #CBD5E1;
}
