* {
  box-sizing: border-box;
}

.login {
  position: relative;
  background: #00c897;
  width: 360px;
  height: 800px;
  overflow: hidden;

  .ellipse7 {
    position: absolute;
    top: 63px;
    left: 121px;
    opacity: 0.3;
    border-radius: 50%;
    background: #f6f6f638;
    width: 437px;
    height: 445px;
  }

  .whatsAppImage2024012 {
    position: absolute;
    top: -10px;
    left: 0;
    width: 361px;
    height: 810px;
  }

  .rectangle1 {
    display: flex;
    position: absolute;
    top: 342px;
    left: 35px;
    flex-direction: column;
    align-items: center;
    border-radius: 39px;
    background: #ffffff;
    padding: 63px 25px 60px 26px;
    width: 290px;
    height: 303px;

    .welcome {
      background: linear-gradient(90deg, #000000 0%, #00624a 100%);
      background-clip: text;
      line-height: 34px;
      letter-spacing: 0;
      color: transparent;
      font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 27px;
      font-weight: 600;
      -webkit-background-clip: text;
    }

    .welcomeDescriptionLo {
      margin: 12px 0px 0px;
      width: 239px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #5f5f5f;
      font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 500;
    }

    .frame96 {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      margin: 36px 28px 0px;
      border-radius: 25px;
      background: #000000;
      padding: 15px 22px;
      height: 46px;

      .flatColorIconsGoogle {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
      }

      .loginWithGoogle {
        flex-shrink: 0;
        line-height: 14px;
        letter-spacing: 0.66px;
        color: #ffffff;
        font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: 600;
      }
    }
  }

  .enjoyYourJourneyHere {
    position: absolute;
    top: 710px;
    left: 113px;
    width: 135px;
    height: 16px;
    line-height: 16px;
    letter-spacing: 0;
    color: #f4f4f4;
    font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .goodLuck {
    position: absolute;
    top: 685px;
    left: 130px;
    width: 101px;
    height: 25px;
    line-height: 25px;
    letter-spacing: 0;
    color: #5f5f5f;
    font-family: Outfit, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .ellipse8 {
    position: absolute;
    top: 80px;
    left: 282px;
    opacity: 0.3;
    border-radius: 50%;
    width: 225px;
    height: 241px;
    background-image: linear-gradient(
      139.48deg,
      #ffffff 15.99%,
      #d9d9d924 55.86%
    );
  }

  .screenshot2024012400 {
    position: absolute;
    top: 73px;
    left: 12px;
    width: 336px;
    height: 332px;
  }
}
